<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>계좌 상세</title>

    <script src="/js/account-detail.js"></script>
</head>
<body>
<h1>
    계좌 상세
</h1>
<div>
    <label>
        <input id="deposit-account-inp" placeholder="입금 금액" type="number" min="0"/>
    </label>
    <button>입금</button>
    <label>
        <input id="withdraw-account-inp" placeholder="출금 금액" type="number" min="0"/>
    </label>
    <button>출금</button>
</div>
<div>
    <h2>계좌 잔고</h2>
    <div id="account-balance"></div>
</div>
</body>
</html>